.banner-container {
    height: 100vh;
}

.banner-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40vh;
}

.banner-header h1 {
    font-size: 55px;
    color: #00b4d8;
    text-align: center; 
}

.banner-header p {
    color: #90e0ef;
    text-align: center;
    font-size: 25px;
}