@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');

.header-container {
  margin-top: 10px;
  margin-right: 25px;
  margin-left: 25px;
}

.container{
  height: 85px;
  background-color: #90e0ef;
  border-radius: 25px;
}

.header-flex {
  display: flex;
}

.header-link {
  text-decoration: none;
}

.header{
  padding-left: 35px;
}

.header h1 {
  font-size: 27px;
  font-family: 'Orbitron', sans-serif;
  font-weight: 900;
  color: #03045e;
  margin: 0; 
  padding: 0; 
  margin-top: 17px;
}

.header h2 {
  font-size: 17px;
  font-family: 'Orbitron', sans-serif;
  font-weight: 600;
  color: #0077b6;
  margin: 0; 
  padding: 0; 
}

