.page1-container {
    margin-top: 15px;
    height: 380px;
    border-radius: 25px;
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
  }
  
.btn {
    height: 45px;
    width: 350px;
    border-radius: 15px;
    border: #00000000;
    font-size: 15px;
}

  .line1 {
    float: left;
    width: 100%; /* Change the width to 100% to make it full-width */
    display: flex;
    margin-top: 17px;
    margin-bottom: 17px;
    margin-left: 17px;
    flex-direction: column; /* Add this line to arrange elements vertically */
  }
  
  .line2 {
    float: right;
    width: 100%; /* Change the width to 100% to make it full-width */
    display: flex;
    margin-right: 17px;
    margin-top: 17px;
    margin-bottom: 17px;
  }
  
  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 350px;
    width: 400px;
    background-color: #90CAF0;
    color: black;
    border-radius: 25px;
  }
  
  .title h1 {
    margin-top: 25px;
    font-size: 32px;
    font-weight: bold;
    margin: 10px;
    text-align: center;
  }
  
  .title p {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
  }
  
  .title button {
    margin-top: 10px; /* Add some spacing between the title and the button */
  }
  
  .title2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 350px;
    width: 1000px;
    background-color: #90CAF0;
    color: black;
    border-radius: 25px;
  }
  
  .title2 h1 {
    font-size: 32px;
    font-weight: bold;
    margin-left: 15px;
    text-align: center;
  }
  
  .title2 p {
    font-size: 20px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: justify;
  }
  
  .btn-1 {
    height: 37px;
    width: 350px;
    font-size: 15px;
    border-radius: 15px;
    color: #90e0ef;
    background-color: #03045e;
    border: #03045e;
  }