.page2-container {
    height: 1000px;
    border-radius: 25px;
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
  }
  
  .line4 {
    width: 60%; /* Adjust the width as needed */
    display: flex;
    flex-direction: column;
    margin: 17px;
    justify-content: center;
    align-items: center;
  }
  
  .line3 {
    width: 40%; /* Adjust the width as needed */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 17px;
  }
  
  .title3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #90e0ef;
    color: black;
    border-radius: 25px;
    padding: 10px;
    margin-bottom: 10px;
    width: 524px;
    height: 970px;
  }
  
  .text-center h1 {
    font-size: 35px;
    text-align: center;
  }
  
  .title4 {
    background-color: #90e0ef;
    color: black;
    border-radius: 25px;
    padding: 10px;
    margin-bottom: 10px;
    height: 970px;
    width: 820px;
    text-align: center;
    align-items: center;
  }
  
  .box1 {
    border-radius: 15px;
    background-color: #ffffff;
    padding: 10px;
    height: 167px;
    width: 480px;
    margin: 10px;
  }

  .box1 h4{
    text-align: center;
    font-size: 15px; 
  }

  .SU img,
  .SU2 img {
    height: 60px;
    width: 60px;
  }
  
  .su-container {
    display: flex;
    justify-content: center;
  }
  
  .SU,
  .SU2 {
    text-align: center;
    flex: 1;
  }
  
  .text-center img{
    max-height: 840px;
    max-width: 790px;
    align-items: center;
    border-radius: 15px;
  }
  