.page3-container {
  height: 600px;
  border-radius: 25px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 17px;
  display: flex;
}

.line5 {
  float: left;
  width: 100%;
  display: flex;
  margin-left: 17px;
  flex-direction: column;
}

.line6 {
  float: right;
  width: 100%;
  display: flex;
  margin-right: 17px;
}

.title5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
  width: 400px;
  background-color: #90e0ef;
  color: black;
  border-radius: 25px;
}

.title6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
  width: 1000px;
  background-color: #90e0ef;
  color: black;
  border-radius: 25px;
}

.react-simple-image-slider__viewport {
  border-radius: 25px;
}
